<% layout('layouts/show-pricebook') -%>

<div class="container">
  <h1><%= title %></h1>
</div>

<div class="container table-responsive">
  <table class="pricebook_table display">
    <thead>
      <tr>
        <th>Company Name</th>
        <th>Type</th>
        <th>Industry</th>
        <th>Rating</th>
        <th>Owner</th>
      </tr>
    </thead>
    <tbody>
      <% records.forEach(function(record) { %>
      <tr>
        <td><%= record._fields.name %></td>
        <td><%= record._fields.type %></td>
        <td><%= record._fields.industry %></td>
        <td><%= record._fields.rating %></td>
        <td>
          <% if (currentUser && currentUser.isAdmin){ %>
            <div class="text-center">
              <form class="form-inline" action="/pricebooks/delete-account/<%= record._fields.id %>" method="POST">
                <button class="btn btn-sm btn-danger">Delete</button>
              </form>
            </div>
          <% } %>
        </td>
      </tr>
      <% }); %>
    </tbody>
    <tfoot>
      <tr>
        <th>Company Name</th>
        <th>Type</th>
        <th>Industry</th>
        <th>Rating</th>
        <th>Owner</th>
      </tr>
    </tfoot>
  </table>
</div>
